/* External CSS */
h1 {
  background-color: rgb(212, 103, 103);
  margin: auto 50px;
  padding: 10px;
  text-align: center;
  width: 50%;
}

#top {
  margin-bottom: 50px;
}

#bottom {
  margin-top: 20px;
}